body{
  background-color: rgb(37, 37, 37);
  font-size:30px
}
input{
  font-size:24px;
  background:#080808;
  color:#0ff;

}
button{
  color:#0ff;
  background:rgb(37, 37, 37);
  margin:20px;
  font-size:30px;
}